In [38]:
# 1. How to import pandas and check the version?

import numpy as np
import pandas as pd
print(pd.__version__)

1.2.4

In [40]:
# 2. How to create a series from a list, numpy array and dict?

import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)
print(ser3.head())

a    0
b    1
c    2
e    3
d    4
dtype: int64

In [46]:
# 3. How to convert the index of a series into a column of a dataframe?

mylist = list('abcdefghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

# Solution
df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     d  3
4     e  4

In [47]:
# 4. How to combine many series to form a dataframe?

import numpy as np
ser1 = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

df = pd.concat([ser1, ser2], axis=1)

df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    d     3
4    e     4

In [48]:
# 5. How to assign name to the series’ index?

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

ser.name = 'alphabets'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

In [49]:
# 6. How to get the items of series A not present in series B?

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])


ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [50]:
# 7. How to get the items not common to both series A and series B?


ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser_u = pd.Series(np.union1d(ser1, ser2))
ser_i = pd.Series(np.intersect1d(ser1, ser2))
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [51]:
# 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))

np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 1.25117263,  7.70986507, 10.92259345, 13.36360403, 18.0949083 ])

In [52]:
# 9. How to get frequency counts of unique items of a series?

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))


ser.value_counts()

a    7
c    6
h    5
d    4
e    3
b    2
g    2
f    1
dtype: int64

In [54]:
# 10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?


np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

print("Top 2 Freq:", ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

Top 2 Freq: 4    6
2    3
3    2
1    1
dtype: int64

0         4
1     Other
2         4
3     Other
4         4
5         4
6         2
7         2
8         4
9         4
10    Other
11        2
dtype: object

In [55]:
# 11. How to bin a numeric series to 10 groups of equal size?

# Input
ser = pd.Series(np.random.random(20))
print(ser.head())

# Solution
pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0    0.343742
1    0.340999
2    0.091604
3    0.480126
4    0.203167
dtype: float64

0    3rd
1    3rd
2    1st
3    5th
4    2nd
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

In [56]:
# 12. How to convert a numpy array to a dataframe of given shape? (L1)

ser = pd.Series(np.random.randint(1, 10, 35))

df = pd.DataFrame(ser.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  9  4  3  6  9
1  5  7  2  7  3
2  7  7  5  6  4
3  3  8  1  4  3
4  2  4  8  8  4
5  5  2  8  4  4
6  5  5  4  7  1

In [61]:
# 13. How to find the positions of numbers that are multiples of 3 from a series?

import pandas as pd
import numpy as np
num_series = pd.Series(np.random.randint(1, 10, 7))
print("Original Series:")
print(num_series)
result = np.argwhere(num_series % 3==0)
print("Positions of numbers that are multiples of 3:")
print(result)

Original Series:
0    8
1    4
2    7
3    1
4    6
5    2
6    5
dtype: int64

ValueError: Length of passed values is 1, index implies 7.

In [62]:
# 14. How to extract items at given positions from a series

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

In [63]:
# 15. How to stack two series vertically and horizontally ?

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

# Vertical
ser1.append(ser2)

# Horizontal
df = pd.concat([ser1, ser2], axis=1)
print(df)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [64]:
# 16. How to get the positions of items of series A in another series B?

ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

[np.where(i == ser1)[0].tolist()[0] for i in ser2]

[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

In [65]:
# 17. How to compute the mean squared error on a truth and predicted series?

truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

np.mean((truth-pred)**2)

0.3167739883370751

In [67]:
# 18. How to convert the first character of each element in a series to uppercase?

ser = pd.Series(['better', 'late', 'then', 'never'])

ser.map(lambda x: x.title())

ser.map(lambda x: x[0].upper() + x[1:])

pd.Series([i.title() for i in ser])

0    Better
1      Late
2      Then
3     Never
dtype: object

In [68]:
# 19. How to calculate the number of characters in each word in a series?

ser = pd.Series(['better', 'late', 'then', 'never'])

ser.map(lambda x: len(x))

0    6
1    4
2    4
3    5
dtype: int64

In [70]:
# 20. How to compute difference of differences between consequtive numbers of a series?

ser = pd.Series([2, 4, 7, 11, 16, 22, 28, 36])

print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

In [73]:
# 21. How to convert a series of date-strings to a timeseries?

ser = pd.Series(['01 Jan 2011', '02-02-2012', '20130303', '2014/04/04', '2015-05-05', '2016-06-06T16:20'])

from dateutil.parser import parse
ser.map(lambda x: parse(x))

pd.to_datetime(ser)

0   2011-01-01 00:00:00
1   2012-02-02 00:00:00
2   2013-03-03 00:00:00
3   2014-04-04 00:00:00
4   2015-05-05 00:00:00
5   2016-06-06 16:20:00
dtype: datetime64[ns]

In [74]:
# 22. How to get the day of month, week number, day of year and day of week from a series of date strings?

ser = pd.Series(['02 Feb 2011', '03-03-2012', '20130404', '2014/05/05', '2015-06-06', '2016-07-07T13:21'])

from dateutil.parser import parse
ser_ts = ser.map(lambda x: parse(x))

# day of month
print("Date: ", ser_ts.dt.day.tolist())

# week number
print("Week number: ", ser_ts.dt.weekofyear.tolist())

# day of year
print("Day number of year: ", ser_ts.dt.dayofyear.tolist())

# day of week
print("Day of week: ", ser_ts.dt.weekday_name.tolist())

Date:  [2, 3, 4, 5, 6, 7]
Week number:  [5, 9, 14, 19, 23, 27]
Day number of year:  [33, 63, 94, 125, 157, 189]

<ipython-input-74-dedcb5879752>:12: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  print("Week number: ", ser_ts.dt.weekofyear.tolist())

AttributeError: 'DatetimeProperties' object has no attribute 'weekday_name'

In [78]:
# 23. How to convert year-month string to dates corresponding to the 4th day of the month?

import pandas as pd
ser = pd.Series(['Dec 2009', 'Jan 2010', 'Feb 2011'])

from dateutil.parser import parse
ser_ts = ser.map(lambda x: parse(x))

ser_datestr = ser_ts.dt.year.astype('str') + '-' + ser_ts.dt.month.astype('str') + '-' + '04'

[parse(i).strftime('%Y-%m-%d') for i in ser_datestr]

ser.map(lambda x: parse('04 ' + x))

0   2009-12-04
1   2010-01-04
2   2011-02-04
dtype: datetime64[ns]

In [79]:
# 24. How to filter words that contain atleast 2 vowels from a series?

ser = pd.Series(['Cake', 'Juice', 'Plan', 'Python', 'Cash'])

# Solution
from collections import Counter
mask = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
ser[mask]

0     Cake
1    Juice
dtype: object

In [81]:
# 25. How to filter valid emails from a series?

emails = pd.Series(['buying books at amazom.com', 'edudarrelljockers@gmail.cub', 'matt@t.co', 'narendra@modi.com'])

import re
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask = emails.map(lambda x: bool(re.match(pattern, x)))
emails[mask]

emails.str.findall(pattern, flags=re.IGNORECASE)

[x[0] for x in [re.findall(pattern, email) for email in emails] if len(x) > 0]

['edudarrelljockers@gmail.cub', 'matt@t.co', 'narendra@modi.com']

In [82]:
# 26. How to get the mean of a series grouped by another series?

fruit = pd.Series(np.random.choice(['cherry', 'orange', 'mandarin'], 10))
weights = pd.Series(np.linspace(1, 10, 10))

weights.groupby(fruit).mean()

cherry      6.428571
mandarin    7.000000
orange      1.500000
dtype: float64

In [83]:
# 27. How to compute the euclidean distance between two series?

x = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
y = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

sum((x - y)**2)**.5

np.linalg.norm(x-y)

18.16590212458495

In [84]:
# 28. How to find all the local maxima (or peaks) in a numeric series?

ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

dd = np.diff(np.sign(np.diff(ser)))
peak_locs = np.where(dd == -2)[0] + 1
peak_locs

array([1, 5, 7])

In [86]:
# 29. How to replace missing spaces in a string with the least frequent character?

my_str = 'ecc efb bcfr hbef'

ser = pd.Series(list('ecc efb bcfr hbef'))
freq = ser.value_counts()
print(freq)
least_freq = freq.dropna().index[-1]
"".join(ser.replace(' ', least_freq))

f    3
c    3
     3
b    3
e    3
r    1
h    1
dtype: int64

'ecchefbhbcfrhhbef'

In [88]:
# 30. How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values?

ser = pd.Series(np.random.randint(1,10,10), pd.date_range('2000-01-01', periods=10, freq='W-SAT'))
ser

2000-01-01    4
2000-01-08    4
2000-01-15    1
2000-01-22    1
2000-01-29    3
2000-02-05    3
2000-02-12    7
2000-02-19    7
2000-02-26    5
2000-03-04    6
Freq: W-SAT, dtype: int64

In [90]:
# 31. How to fill an intermittent time series so all missing dates show up with values of previous non-missing date?

ser = pd.Series([1,10,3, np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))

ser.resample('D').ffill()

ser.resample('D').bfill() 
ser.resample('D').bfill().ffill()

2000-01-01     1.0
2000-01-02    10.0
2000-01-03    10.0
2000-01-04     3.0
2000-01-05     3.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     3.0
Freq: D, dtype: float64

In [92]:
# 32. How to compute the autocorrelations of a numeric series?

ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

autocorrelations = [ser.autocorr(i).round(2) for i in range(11)]
print(autocorrelations[1:])
print('Lag having highest correlation: ', np.argmax(np.abs(autocorrelations[1:]))+1)

[0.46, 0.21, 0.65, 0.47, 0.12, 0.41, 0.25, -0.21, 0.34, 0.45]
Lag having highest correlation:  3

In [99]:
# 33. How to import only every nth row from a csv file to create a dataframe?

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
df2 = pd.DataFrame()
for chunk in df:
    df2 = df2.append(chunk.iloc[0,:])

print(df2.head())

      age       b  chas     crim     dis  indus  lstat  medv    nox  ptratio  \
0    65.2  396.90   0.0  0.00632  4.0900   2.31   4.98  24.0  0.538     15.3
50   45.7  395.56   0.0  0.08873  6.8147   5.64  13.45  19.7  0.439     16.8
100  79.9  394.76   0.0  0.14866  2.7778   8.56   9.42  27.5  0.520     20.9
150  97.3  372.80   0.0  1.65660  1.6180  19.58  14.10  21.5  0.871     14.7
200  13.9  384.30   0.0  0.01778  7.6534   1.47   4.45  32.9  0.403     17.0

     rad     rm    tax    zn
0    1.0  6.575  296.0  18.0
50   4.0  5.963  243.0  21.0
100  5.0  6.727  384.0   0.0
150  5.0  6.122  403.0   0.0
200  3.0  7.135  402.0  95.0

In [101]:
# 34. How to change column values when importing csv to a dataframe?

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', 
                 converters={'medv': lambda x: 'High' if float(x) > 25 else 'Low'})

print(df.head())

      crim    zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

        b  lstat  medv
0  396.90   4.98   Low
1  396.90   9.14   Low
2  392.83   4.03  High
3  394.63   2.94  High
4  396.90   5.33  High

In [102]:
# 35. How to create a dataframe with rows as strides from a given series?

L = pd.Series(range(15))

def gen_strides(a, stride_len=5, window_len=5):
    n_strides = ((a.size-window_len)//stride_len) + 1
    return np.array([a[s:(s+window_len)] for s in np.arange(0, a.size, stride_len)[:n_strides]])

gen_strides(L, stride_len=2, window_len=4)

array([[ 0,  1,  2,  3],
       [ 2,  3,  4,  5],
       [ 4,  5,  6,  7],
       [ 6,  7,  8,  9],
       [ 8,  9, 10, 11],
       [10, 11, 12, 13]])

In [103]:
# 36. How to import only specified columns from a csv file?

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', usecols=['crim', 'medv'])
print(df.head())

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

In [104]:
# 37. How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe? Also get the array and list equivalent.

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

print(df.shape)

print(df.dtypes)

print(df.get_dtype_counts())
print(df.dtypes.value_counts())

df_stats = df.describe()

df_arr = df.values

df_list = df.values.tolist()

(93, 27)
Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city              float64
MPG.highway           float64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower            float64
RPM                   float64
Rev.per.mile          float64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers            float64
Length                float64
Wheelbase             float64
Width                 float64
Turn.circle           float64
Rear.seat.room        float64
Luggage.room          float64
Weight                float64
Origin                 object
Make                   object
dtype: object

AttributeError: 'DataFrame' object has no attribute 'get_dtype_counts'

In [115]:
# 38. How to extract the row and column number of a particular cell with given criterion?

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.loc[df.Price == np.max(df.Price), ['Manufacturer', 'Model', 'Type']]

     Manufacturer Model     Type
58  Mercedes-Benz  300E  Midsize

In [116]:
row, col = np.where(df.values == np.max(df.Price))
df.iat[row[0], col[0]]
df.iloc[row[0], col[0]]

61.9

In [118]:
# 39. How to rename a specific columns in a dataframe?

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df=df.rename(columns = {'Type':'CarType'})

df.columns = df.columns.map(lambda x: x.replace('.', '_'))
print(df.columns)

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

In [119]:
# 40. How to check if a dataframe has any missing values?

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.isnull().values.any()

True

In [120]:
# 41. How to count the number of missing values in each column?

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
n_missings_each_col = df.apply(lambda x: x.isnull().sum())
n_missings_each_col.argmax()

23

In [121]:
# 42. How to replace missing values of multiple numeric columns with the mean?

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df_out = df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x: x.fillna(x.mean()))
print(df_out.head())

   Min.Price  Max.Price
0  12.900000  18.800000
1  29.200000  38.700000
2  25.900000  32.300000
3  17.118605  44.600000
4  17.118605  21.459091

In [122]:
# 43. How to use apply function on existing columns with global variables as additional arguments?

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
d = {'Min.Price': np.nanmean, 'Max.Price': np.nanmedian}
df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x, d: x.fillna(d[x.name](x)), args=(d, ))

In [124]:
# 44. How to select a specific column from a dataframe as a dataframe instead of a series?

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
type(df[['a']])
type(df.loc[:, ['a']])
type(df.iloc[:, [0]])

pandas.core.frame.DataFrame

In [125]:
type(df.a)
type(df['a'])
type(df.loc[:, 'a'])
type(df.iloc[:, 1])

pandas.core.series.Series

In [126]:
# 45. How to change the order of columns of a dataframe?

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

df[list('cbade')]

def switch_columns(df, col1=None, col2=None):
    colnames = df.columns.tolist()
    i1, i2 = colnames.index(col1), colnames.index(col2)
    colnames[i2], colnames[i1] = colnames[i1], colnames[i2]
    return df[colnames]
df1 = switch_columns(df, 'a', 'c')

df[sorted(df.columns)]

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [129]:
# 46. How to set the number of rows and columns displayed in the output?

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

In [130]:
# 47. How to format or suppress scientific notations in a pandas dataframe?

df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
df.round(4)

   random
0  0.0000
1  0.9156
2  0.0000
3  0.0000

In [132]:
# 48. How to format all the values in a dataframe as percentages?

df = pd.DataFrame(np.random.random(4), columns=['random'])
out = df.style.format({
    'random': '{0:.2%}'.format,
})

out

In [133]:
# 49. How to filter every nth row in a dataframe?

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.iloc[::20, :][['Manufacturer', 'Model', 'Type']])

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

In [134]:
# 50. How to create a primary key index by combining relevant columns?

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])

df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')
df.index = df.Manufacturer + '_' + df.Model + '_' + df.Type
print(df.index.is_unique)

True

In [137]:
# 51. How to get the row number of the nth largest value in a column?

df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

n = 5
df['a'].argsort()[::-1][n]

8

In [139]:
# 52. How to find the position of the nth largest value greater than a given value?

ser = pd.Series(np.random.randint(1, 100, 15))

print('ser: ', ser.tolist(), 'mean: ', round(ser.mean()))

np.argwhere(ser > ser.mean())[1]

ser:  [73, 24, 24, 97, 48, 91, 27, 84, 31, 49, 19, 25, 66, 2, 52] mean:  47

ValueError: Length of passed values is 1, index implies 15.