In [1]:
# Challenge 2: Sets

# First, import the Python random libary

import random

In [2]:
# In the cell below, create a list named sample_list_1 with 80 random values.¶ Requirements: Each value is an integer falling between 0 and 100. Each value in the list is unique. Print sample_list_1 to review its values Hint: use random.sample (reference).

sample_list_1 = random.sample(range(0, 101), 80)

print(sample_list_1)

[94, 6, 57, 55, 56, 49, 30, 63, 80, 7, 34, 29, 35, 86, 16, 15, 79, 42, 65, 84, 92, 67, 10, 90, 40, 81, 82, 70, 0, 95, 78, 8, 53, 5, 38, 20, 59, 99, 73, 12, 85, 75, 77, 31, 48, 52, 18, 61, 72, 24, 21, 25, 69, 9, 44, 68, 47, 27, 74, 97, 1, 39, 19, 13, 32, 60, 76, 93, 14, 50, 28, 91, 36, 87, 100, 83, 58, 62, 51, 89]

In [3]:
# Convert sample_list_1 to a set called set1. Print the length of the set. Is its length still 80?

set1 = set(sample_list_1)

len(set1)

80

In [4]:
set1

{0,
 1,
 5,
 6,
 7,
 8,
 9,
 10,
 12,
 13,
 14,
 15,
 16,
 18,
 19,
 20,
 21,
 24,
 25,
 27,
 28,
 29,
 30,
 31,
 32,
 34,
 35,
 36,
 38,
 39,
 40,
 42,
 44,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 65,
 67,
 68,
 69,
 70,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 97,
 99,
 100}

In [5]:
# Create another list named sample_list_2 with 80 random values. Requirements:

#Each value is an integer falling between 0 and 100.
#The values in the list don't have to be unique.
#Hint: Use a FOR loop.

sample_list_2 = [random.randint(0, 100) for k in range(80)]

print(sample_list_2)

print(len(sample_list_2))

[69, 48, 70, 70, 7, 93, 43, 2, 86, 49, 57, 6, 39, 21, 38, 91, 76, 30, 30, 75, 23, 61, 81, 27, 0, 40, 20, 26, 6, 15, 84, 51, 93, 100, 71, 58, 84, 92, 22, 17, 6, 0, 98, 28, 45, 90, 80, 68, 90, 31, 73, 99, 51, 49, 47, 33, 46, 99, 52, 100, 52, 28, 1, 96, 92, 74, 61, 28, 64, 40, 69, 56, 61, 39, 71, 22, 5, 21, 84, 60]
80

In [6]:
# Convert sample_list_2 to a set called set2. Print the length of the set. Is its length still 80?
set2 = set(sample_list_2)

len(set2)

55

In [7]:
# Identify the elements present in set1 but not in set2. Assign the elements to a new set named set3.¶

set3 = set1 - set2

print(set3)

{8, 9, 10, 12, 13, 14, 16, 18, 19, 24, 25, 29, 32, 34, 35, 36, 42, 44, 50, 53, 55, 59, 62, 63, 65, 67, 72, 77, 78, 79, 82, 83, 85, 87, 89, 94, 95, 97}

In [8]:
# Identify the elements present in set2 but not in set1. Assign the elements to a new set named set4.¶

set4 = set2 - set1

print(set4)

{64, 33, 2, 96, 98, 71, 43, 45, 46, 17, 22, 23, 26}

In [9]:
# Now Identify the elements shared between set1 and set2. Assign the elements to a new set named set5.

set5 = set1 & set2

print(set5)

{0, 1, 5, 6, 7, 15, 20, 21, 27, 28, 30, 31, 38, 39, 40, 47, 48, 49, 51, 52, 56, 57, 58, 60, 61, 68, 69, 70, 73, 74, 75, 76, 80, 81, 84, 86, 90, 91, 92, 93, 99, 100}

In [10]:
# What is the relationship among the following values:
# len(set1)
# len(set2)
# len(set3)
# len(set4)
# len(set5)
# Use a math formular to represent that relationship. Test your formular with Python code.

len(set3) + len(set4) + len(set5) * 2 == len(set1) + len(set2)

True

In [11]:
# Create an empty set called set6.
set6 = set()

In [12]:
# Add set3 and set5 to set6 using the Python Set update method.
set6.update(set3, set5)

In [13]:
# Check if set1 and set6 are equal.
set6 == set1

True

In [14]:
# Check if set1 contains set2 using the Python Set issubset method. Then check if set1 contains set3.*

print(set2.issubset(set1))

set3.issubset(set1)

False

True

In [15]:
# Using the Python Set union method, aggregate set3, set4, and set5. Then aggregate set1 and set2.
# Check if the aggregated values are equal.

set3.union(set4, set5) == set1.union(set2)

True

In [16]:
# Using the pop method, remove the first element from set1.

s = set1.pop()

print(s)

0

In [17]:
# Remove every element in the following list from set1 if they are present in the set. Print the remaining elements.

# list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for n in list_to_remove:
    if n in set1:
        set1.remove(n)

print(set1)

{5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 18, 20, 24, 25, 27, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 47, 48, 50, 52, 53, 55, 56, 57, 58, 60, 62, 63, 65, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 90, 92, 93, 94, 95, 97, 100}